# style
flake8==6.*

# code formatting
black>=22.3.0 # https://stackoverflow.com/questions/71673404/importerror-cannot-import-name-unicodefun-from-click
isort==5.*
flynt==1.*
pre-commit==2.*

# type checking
mypy==0.*

# testing
tox==3.*
pytest==7.*
pytest-cov==4.*
pytest-dotenv==0.*

# general
pycocotools==2.*
scikit-image==0.*
opencv-python==4.*