# General
numpy # Change to >= 1.20 if we drop python 3.7 support (numpy 1.20+ includes type stubs).
requests==2.26.0
Pillow
scikit-image
tqdm
pycocotools;platform_system!="Windows"
pycocotools-windows;platform_system=="Windows"

# Type hints
typing_extensions
pydantic
types-Pillow
types-requests