# general
pycocotools == 2.*
scikit-image == 0.*
opencv-python == 4.*


# code formatting
flynt == 1.*
ruff == 0.*


# type checking
mypy == 0.*


# testing
tox == 3.*
pytest == 8.*
pytest-cov == 5.*
pytest-dotenv == 0.*