# General
numpy>=1.20,<2 # include type stubs
requests==2.*
Pillow==9.*
tqdm==4.*

# Type hints
typing_extensions==4.*
pydantic==2.*
types-Pillow==10.*
types-requests==2.*

# Version
importlib-metadata==1.*; python_version<'3.8'
